{% extends 'base.html' %}
{% load static %}
{% load units_tags %}
{% block title %}
Запрос| - {{ query }}
{% endblock %}
{% block content %}


<div class="row">
<div class="col-md-11">
    <div class="panel panel-default">
								<!-- Default panel contents -->
								<div class="panel-heading">Запрос: {{ query }}</div>

								<!-- Table -->
								<table class="table" style="width: 300px">
									<thead>
										<tr>
											<th style="border-right:  1px solid #d6e9c6">Фио</th>
											<th style="border-right:  1px solid #d6e9c6">Должность</th>
											<th style="border-right:  1px solid #d6e9c6">Кабинет</th>
											<th style="border-right:  1px solid #d6e9c6">Ip</th>
											<th style="border-right:  1px solid #d6e9c6">Номер</th>
											<th style="border-right:  1px solid #d6e9c6">Статус</th>
										</tr>
									</thead>
									<tbody>
									{% for worker in workers %}
                                        {% if not worker.deps_block %}


									<tr>
											<td style="border-right:  1px solid #d6e9c6">{{ worker.full_name }}</td>
											<td style="border-right:  1px solid #d6e9c6">{{ worker.position }}</td>
											<td style="border-right:  1px solid #d6e9c6">{{ worker.room }}</td>
											<td style="border-right:  1px solid #d6e9c6">{{ worker.ip_number }}</td>
											<td style="border-right:  1px solid #d6e9c6">{{ worker.phone }}</td>
											<td style="border-right:  1px solid #d6e9c6">
                                                {% if worker.status != 'На работе' %}

                                                <div class="col-md-3 col-sm-3 col-xs-12">
							<!-- Single button -->
							<div class="btn-group btn-group-dropdown">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ worker.status }}</button>
								<ul class="dropdown-menu" role="menu">
									<div class="arrow top"></div>
									<li><a href="">От:{{ worker.date_out }}</a></li>
									<li><a href="">До:{{ worker.date_in }}</a></li>
								</ul>
							</div>
						</div>
                                            {% else %}
                                                    {{ worker.status }}
                                                {% endif %}

                                            </td>
										</tr>
                                        {% endif %}
									{% endfor %}



									</tbody>
								</table>
							</div>
</div>
</div>
{% endblock %}